<html>
  <head>
    <title>{{ translations.authTitle }}</title>
  </head>
<body>
<div class="form-header">
    <h2>{{ translations.authHeader }}</h2>
    <ul class="errors-list">
      {% for location, error in errors %}
        <li>{{ error.msg }}</li>
      {% endfor %}
    </ul>
</div>


<form method="post" action="/MMM-Powerwall/auth" novalidate>
  {% for field in ["username", "password", "mfa" ] %}
  <div class="form-field {{ "form-field-invalid" if errors[field] else '' }}">
    <label for="{{field}}">{{ translations[field] }}</label>
    {% if field == "username" %}
    <select name="{{field}}">
      {% for username in configUsers -%}
      <option value="{{username}}">{{username}}</option>
      {%- endfor %}
    </select>
    {% else %}
    <input class="input" id="{{field}}" name="{{field}}" type="
      {{- "password" if field == "password" else "text" -}}
      " maxlength="
      {{- 6 if field == "mfa" else 30 -}}
      " value="{{ data[field] }}">
    {% endif %}

    {%- if errors[field] %}
      <div class="error">{{errors[field].msg}}</div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="form-actions">
    <button class="btn" type="submit">{{ translations.fetch }}</button>
  </div>
</form>

<div class="form-header">
    <h2>{{ translations.powerwallHeader }}</h2>
    <ul class="errors-list">
      {% for error in pwErrors %}
        <li>{{ error.msg }}</li>
      {% endfor %}
    </ul>
</div>


<form method="post" action="/MMM-Powerwall/authLocal" novalidate>
  {% for field in ["ip", "password" ] %}
  <div class="form-field {{ "form-field-invalid" if errors[field] else '' }}">
    <label for="{{field}}">{{ translations[field] }}</label>
    {% if field == "ip" %}
    <select name="{{field}}">
      {% for ip in configIPs -%}
      <option value="{{ip}}">{{ip}}</option>
      {%- endfor %}
    </select>
    {% else %}
    <input class="input" id="{{field}}" name="{{field}}" type="
      {{- "password" if field == "password" else "text" -}}
      " maxlength="
      {{- 6 if field == "mfa" else 30 -}}
      " value="{{ data[field] }}">
    {% endif %}
    {% if errors[field] %}
      <div class="error">{{errors[field].msg}}</div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="form-actions">
    <button class="btn" type="submit">{{ translations.fetch }}</button>
  </div>
</form>
</body>
</html>