<div class="MMM-Powerwall flexbox">
{% for graph in config.graphs %}
    <div class="module MMM-Powerwall module-content flexitem">
        {% if graph == "SolarProduction" -%}
        <div class="MMM-Powerwall flip-outer" id="{{id}}-SolarFlip">
            <div class="MMM-Powerwall flip-front">
                <div class="MMM-Powerwall grid-left">
                    <div class="MMM-Powerwall col1 vflexbox">
                        <div class="small bright">Solar is producing</div>
                        <div id="{{id}}-SolarProduction" class="big solar text">
                            {%- if flows.sources.solar.total > 950 -%}
                                {{ flows.sources.solar.total // 100 / 10 }} kW
                            {%- else -%}
                                {{ flows.sources.solar.total // 1 }} W
                            {%- endif %}</div>
                        <div class="small bright" style="display:none" id="{{id}}-SolarTotalTextA">
                            <span id="{{id}}-SolarTotalA" class="small bright text"></span> today
                        </div>
                    </div>
                    <div class="MMM-Powerwall col2 graph-container">
                        <canvas id="{{id}}-SolarDestinations">
                            Graph goes here
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="MMM-Powerwall flip-back vflexbox">
                <div class="small bright">Solar produced</div>
                <div id="{{id}}-SolarTotalB" class="big solar text"></div>
                <div class="small bright text" id="{{id}}-SolarTodayYesterday"></div>
            </div>
        </div>
        {%- elif graph == "HouseConsumption" -%}
            <div class="MMM-Powerwall grid-right">
                <div class="MMM-Powerwall col1 graph-container">
                <canvas id="{{id}}-HouseSources">
                    Graph goes here
                </canvas>
                </div>
                <div class="MMM-Powerwall col2 vflexbox">
                <div class="small bright">House is consuming</div>
                <div id="{{id}}-HouseConsumption" class="big house text">
                    {%- if flows.sinks.house.total > 950 -%}
                        {{ flows.sinks.house.total // 100 / 10 }} kW
                    {%- else -%}
                        {{ flows.sinks.house.total // 1 }} W
                    {%- endif %}</div>
                <div class="small bright text" id="{{id}}-UsageTotal"></div>
                </div>
            </div>
        {%- elif graph == "PowerwallSelfPowered" -%}
            <div class="MMM-Powerwall grid-left">
                <div class="scene MMM-Powerwall col1">
                    <div class="small bright text" id="{{id}}-PowerwallStatus">
                            {%- if flows.sinks.battery.total > 0 %}Charging at {{ flows.sinks.battery.total }} W
                            {%- else %}Supplying {{ flows.sources.battery.total }} W
                            {%- endif %}
                    </div>
                    <div class="MMM-Powerwall cube">
                        <div class="cube__face cube__face--front"
                             id="{{id}}-PowerwallSOE">{{soe // 1}}%</div>
                        <div class="cube__face cube__face--right">
                            <div class="battery meter-vertical" style="height: {{soe // 1}}%;"
                                 id="{{id}}-battery-meter"></div>
                        </div>
                    </div>
                </div>
                <div class="MMM-Powerwall col2 graph-container">
                    <canvas id="{{id}}-SelfPoweredDetails">
                        Graph goes here
                    </canvas>
                    <div class="MMM-Powerwall overlay bright small">
                        <span class="MMM-Powerwall bright big text" id="{{id}}-SelfPoweredTotal"></span><br>
                        Self-Powered
                    </div>
                </div>
            </div>
        {%- elif graph == "CarCharging" -%}
            <div class="MMM-Powerwall flip-outer" id="{{id}}-CarFlip">
                {% for side in [{suffix: "A", name: "front"}, {suffix: "B", name: "back"}] -%}
                <div class="MMM-Powerwall flip-{{side.name}}">
                    <div class="MMM-Powerwall grid-right">
                        <div class="MMM-Powerwall col1">
                            <div class="MMM-Powerwall cbattery">
                                <div class="battery meter-horizontal" id="{{id}}-car-meter-{{side.suffix}}"></div>
                                <div class="MMM-Powerwall overlay bright text" id="{{id}}-car-meter-text-{{side.suffix}}"></div>
                            </div>
                            <div class="MMM-Powerwall no-overflow">
                                <div class="MMM-Powerwall car-image">
                                    <img id="{{id}}-Picture-{{side.suffix}}">
                                </div>
                            </div>
                        </div>
                        <div class="MMM-Powerwall col2 vflexbox">
                            <div class="MMM-Powerwall small bright"><span id="{{id}}-CarStatus-{{side.suffix}}"></span></div>
                            <div class="MMM-Powerwall big car text" id="{{id}}-CarConsumption-{{side.suffix}}"></div>
                            <div class="MMM-Powerwall small bright" id="{{id}}-CarCompletionPara-{{side.suffix}}" style="display:none">Finishing in
                                <span class="small bright text" id="{{id}}-CarCompletion-{{side.suffix}}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        {%- elif graph == "EnergyBar" -%}
            <div class="MMM-Powerwall big-graph-container">
                <canvas id="{{id}}-EnergyBar"></canvas>
            </div>
        {%- elif graph == "PowerLine" -%}
            <div class="MMM-Powerwall big-graph-container">
                <canvas id="{{id}}-PowerLine"></canvas>
            </div>
        {%- else -%}
        Unknown graph type selected
        {%- endif -%}
    </div>
{%- endfor %}
    </div>
</div>