<div class="MMM-Powerwall flexbox">
{% for graph in config.graphs %}
    <div class="module MMM-Powerwall module-content flexitem">
        {% if graph == "SolarProduction" -%}
        <div class="MMM-Powerwall" style="height: 100%">
            <div class="MMM-Powerwall" id="{{id}}-SolarDay">
                <div class="MMM-Powerwall grid-left">
                    <div class="MMM-Powerwall col1 vflexbox">
                        <div class="small bright spaced">Solar is producing</div>
                        <div id="{{id}}-SolarProduction" class="big solar text spaced">
                            {%- if flows.sources.solar.total > 950 -%}
                                {{ flows.sources.solar.total // 100 / 10 }} kW
                            {%- else -%}
                                {{ flows.sources.solar.total // 1 }} W
                            {%- endif %}</div>
                        <div class="small bright spaced" style="display:none" id="{{id}}-SolarTotalTextA"></div>
                        <div class="xsmall text" style="display:none" id="{{id}}-SolarYesterdayTotal"></div>
                    </div>
                    <div class="MMM-Powerwall col2 graph-container">
                        <canvas id="{{id}}-SolarDestinations">
                            Graph goes here
                        </canvas>
                    </div>
                </div>
            </div>
            <div style="display:none; height: 100%" id="{{id}}-SolarNight">
                <div class="MMM-Powerwall vflexbox">
                    <div id="{{id}}-SolarHeader" class="small bright">Solar produced</div>
                    <div id="{{id}}-SolarTotalB" class="big solar text"></div>
                    <div class="small bright text" id="{{id}}-SolarTodayYesterday"></div>
                </div>
            </div>
        </div>
        {%- elif graph == "HouseConsumption" -%}
            <div class="MMM-Powerwall grid-right">
                <div class="MMM-Powerwall col1 graph-container">
                <canvas id="{{id}}-HouseSources">
                    Graph goes here
                </canvas>
                </div>
                <div class="MMM-Powerwall col2 vflexbox">
                <div class="small bright spaced">House is consuming</div>
                <div id="{{id}}-HouseConsumption" class="big house text spaced">
                    {%- if flows.sinks.house.total > 950 -%}
                        {{ flows.sinks.house.total // 100 / 10 }} kW
                    {%- else -%}
                        {{ flows.sinks.house.total // 1 }} W
                    {%- endif %}</div>
                <div class="small bright text spaced" id="{{id}}-UsageTotal" style="display:none"></div>
                <div class="xsmall text" style="display:none" id="{{id}}-UsageTotalYesterday"></div>
                </div>
            </div>
        {%- elif graph == "PowerwallSelfPowered" -%}
            <div class="MMM-Powerwall grid-left" id="{{id}}-PowerwallSelfPowered">
                <div class="scene MMM-Powerwall col1">
                    <div class="small bright text" id="{{id}}-PowerwallStatus">
                            {%- if flows.sinks.battery.total > 0 %}Charging at {{ flows.sinks.battery.total }} W
                            {%- else %}Supplying {{ flows.sources.battery.total }} W
                            {%- endif %}
                    </div>
                    <div class="MMM-Powerwall cube">
                        <div class="cube__face cube__face--front"
                             id="{{id}}-PowerwallSOE">{{soe // 1}}%</div>
                        <div class="cube__face cube__face--right">
                            <div class="battery meter-vertical" style="height: {{soe // 1}}%;"
                                 id="{{id}}-battery-meter"></div>
                        </div>
                    </div>
                    <div class="MMM-Powerwall status-overlay medium" id="{{id}}-StatusOverlay"></div>
                </div>
                <div class="MMM-Powerwall col2 graph-container">
                    <canvas id="{{id}}-SelfPoweredDetails">
                        Graph goes here
                    </canvas>
                    <div class="MMM-Powerwall overlay small">
                        <span class="bright"><span class="MMM-Powerwall bright big text" id="{{id}}-SelfPoweredTotal"></span><br>
                        Self-Powered</span><br>
                        <span class="MMM-Powerwall text xsmall" id="{{id}}-SelfPoweredYesterday"></span>
                    </div>
                </div>
            </div>
        {%- elif graph == "CarCharging" -%}
            <div class="MMM-Powerwall grid-right text" id="{{id}}-CarTile" style="opacity: 0">
                <div class="MMM-Powerwall col1">
                    <div class="MMM-Powerwall cbattery">
                        <div class="battery meter-horizontal" id="{{id}}-car-meter"></div>
                        <div class="MMM-Powerwall overlay bright text" id="{{id}}-car-meter-text"></div>
                    </div>
                    <div class="MMM-Powerwall no-overflow">
                        <div class="MMM-Powerwall car-image">
                            <img id="{{id}}-Picture">
                        </div>
                    </div>
                </div>
                <div class="MMM-Powerwall col2 vflexbox">
                    <div class="MMM-Powerwall small bright spaced"><span id="{{id}}-CarStatus"></span></div>
                    <div class="MMM-Powerwall big car text spaced" id="{{id}}-CarConsumption"></div>
                    <div class="MMM-Powerwall small" id="{{id}}-CarCompletionPara" style="display:none">Finishing in
                        <span class="small text" id="{{id}}-CarCompletion"></span>
                    </div>
                </div>
            </div>
        {%- elif graph == "EnergyBar" -%}
            <div class="MMM-Powerwall big-graph-container">
                <canvas id="{{id}}-EnergyBar"></canvas>
            </div>
        {%- elif graph == "PowerLine" -%}
            <div class="MMM-Powerwall big-graph-container">
                <canvas id="{{id}}-PowerLine"></canvas>
            </div>
        {%- else -%}
        Unknown graph type selected
        {%- endif -%}
    </div>
{%- endfor %}
    </div>
</div>