<div class="MMM-Powerwall flexbox">
{% set endDiv = joiner(["</div>"]) -%}
{% for graph in config.graphs %}
    {{ endDiv() | safe }}
    <div class="module MMM-Powerwall module-content flexitem">
        {% if graph == "SolarProduction" -%}
        <div class="MMM-Powerwall flip-outer" id="{{id}}-SolarFlip">
            <div class="MMM-Powerwall flip-front">
                <div class="MMM-Powerwall grid-left">
                    <div class="MMM-Powerwall col1">
                        <p class="small bright">Solar is currently producing</p>
                        <p id="{{id}}-SolarProduction" class="big solar text">
                            {%- if flows.sources.solar.total > 950 -%}
                                {{ flows.sources.solar.total // 100 / 10 }} kW
                            {%- else -%}
                                {{ flows.sources.solar.total // 1 }} W
                            {%- endif %}</p>
                        <p class="small bright">
                            <span id="{{id}}-SolarTotalA" class="small bright text"></span> today
                        </p>
                    </div>
                    <div class="MMM-Powerwall col2 graph-container">
                        <canvas id="{{id}}-SolarDestinations">
                            Graph goes here
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="MMM-Powerwall flip-back">
                <p class="small bright">Solar produced</p>
                <p id="{{id}}-SolarTotalB" class="big solar text"></p>
                <p class="small bright text" id="{{id}}-SolarTodayYesterday">
                    {%- if dayMode === "night" %}today
                    {%- else %}yesterday
                    {%- endif %}</p>
            </div>
        </div>
        {%- elif graph == "HouseConsumption" -%}
            <div class="MMM-Powerwall grid-right">
                <div class="MMM-Powerwall col1 graph-container">
                <canvas id="{{id}}-HouseSources">
                    Graph goes here
                </canvas>
                </div>
                <div class="MMM-Powerwall col2">
                <p class="small bright">House is currently consuming</p>
                <p id="{{id}}-HouseConsumption" class="big house text">
                    {%- if flows.sinks.house.total > 950 -%}
                        {{ flows.sinks.house.total // 100 / 10 }} kW
                    {%- else -%}
                        {{ flows.sinks.house.total // 1 }} W
                    {%- endif %}</p>
                <p class="small bright text" id="{{id}}-UsageTotal"></p>
                </div>
            </div>
        {%- elif graph == "PowerwallSelfPowered" -%}
            <div class="MMM-Powerwall grid-left">
                <div class="scene MMM-Powerwall col1">
                    <div class="small bright text" id="{{id}}-PowerwallStatus">
                            {%- if flows.sinks.battery.total > 0 %}Charging at {{ flows.sinks.battery.total }} W
                            {%- else %}Supplying {{ flows.sources.battery.total }} W
                            {%- endif %}
                    </div>
                    <div class="MMM-Powerwall cube">
                        <div class="cube__face cube__face--front" 
                             id="{{id}}-PowerwallSOE">{{soe // 1}}%</div>
                        <div class="cube__face cube__face--right">
                            <div class="battery meter-vertical" style="height: {{soe // 1}}%;"
                                 id="{{id}}-battery-meter"></div>
                        </div>
                    </div>
                </div>
                <div class="MMM-Powerwall col2 graph-container">
                    <canvas id="{{id}}-SelfPoweredDetails">
                        Graph goes here
                    </canvas>
                    <div class="MMM-Powerwall overlay bright small">
                        <span class="MMM-Powerwall bright big text" id="{{id}}-SelfPoweredTotal"></span><br>
                        Self-Powered
                    </div>
                </div>
            </div>
        {%- elif graph == "CarCharging" -%}
            <div class="MMM-Powerwall grid-right">
                <div class="MMM-Powerwall col1">
                    <div class="MMM-Powerwall cbattery">
                        <div class="battery meter-horizontal" style="width: 85%;" id="{{id}}-car-meter"></div>
                        <div class="MMM-Powerwall overlay bright text">85%</div>
                    </div>
                    <div id="{{id}}-PictureContainer" class="MMM-Powerwall no-overflow">
                        <div class="MMM-Powerwall car-image">
                            <img src="https://static-assets.tesla.com/v1/compositor/?model=m3&view=STUD_3QTR&size=300&options=DV4W,IN3PW,COL3-PPMR,W38B,MT303&bkba_opt=1">
                        </div>
                    </div>
                </div>
                <div class="MMM-Powerwall col2">
                    <p class="small bright"><span id="{{id}}-CarIs">Car is</span> currently <span id="{{id}}-CarStatus">charging at</span></p>
                    <p id="{{id}}-CarConsumption" class="big car text">
                        {%- if flows.sinks.car.total > 950 -%}
                            {{ flows.sinks.car.total // 100 / 10 }} kW
                        {%- else -%}
                            {{ flows.sinks.car.total // 1 }} W
                        {%- endif %}</p>
                    <p class="small bright">Finishing in
                        <span class="small bright text" id="{{id}}-CarCompletion"></span>
                    </p>
                </div>
            </div>
        {%- elif graph == "PowerFlow" -%}
        {%- else -%}
        Unknown graph type selected
        {%- endif -%}
{%- endfor %}
    </div>
</div>